.git
.gitignore
.env
.vscode
.idea

.claude
CLAUDE.md
CLAUDE.local.md
AGENTS.md
GEMINI.md

Dockerfile
.dockerignore
docker-compose.yaml
Makefile
README.md
objetivo.txt

*.exe
*.test
*.out
coverage.*
ratelimiter
