HTTP_PORT=8081

# redis | memory | memcached
STORAGE_STRATEGY=redis

RATE_LIMIT_IP_MAX_REQUESTS=10
RATE_LIMIT_IP_BLOCK_DURATION=1m
RATE_LIMIT_TOKEN_MAX_REQUESTS=100
RATE_LIMIT_TOKEN_BLOCK_DURATION=1m

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

MEMCACHED_ADDR=localhost:11211
